#container {
    display: flex;
}

input {
	outline: none;
	border: none;
}

table, td, tr {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

aside {
    margin-right: 200px;
}